.ProfileAvatar, .ProfileAvatar-image, .avatar, .js-action-profile-avatar, .btn, .Avatar, .js-global-new-tweet, .EdgeButton, .ProfileAvatarEditing, .ProfileListItem-avatar, .ProfileCard-avatarLink, .DashboardProfileCard-avatarLink, .ProfileCardMini-avatarImage, .ProfileAvatarEditing-button, .ProfileAvatarEditing-overlay, .ProfileAvatar-placeholder.u-block.js-nav.js-tooltip profile-picture {
    border-radius: 5% !important;
}

.Gallery-media {
    border-radius: 0% !important;
}


.js-media-image-link, .block, .tweet-avatar {
    border-radius: 5% !important;
}

.avatar--circular {
    border-radius: 5% !important;
}

.css-1dbjc4n {
    border-radius: 5% !important;
}

.r-1niwhzg, .r-vvn4in, .r-u6sd8q, .r-4gszlv, .r-1p0dtai, .r-1pi2tsx, .r-1d2f490, .r-u8s1d, .r-zchlnj, .r-ipm5af, .r-13qz1uu, .r-1wyyakw {
    border-radius: 5% !important;
}
