.RichEditor, .search-input {
    border-radius: 0.5% !important;
}

.global-nav {
    border-radius: 5% !important;
}

/*body.ja {
    font-family: 'Century Gothic';
}*/

.js-add-tweet, .js-launch-service, .trends, .SidebarCommonModules, .promoted-tweet, .Footer-adsModule, .flex-module-header, .import-prompt, .roaming-module, .UserSmallListItem-context, .flex-module, .self-thread-head, .js-actionShareViaDM,
.js-add-tweet.EdgeButton.EdgeButton--secondary.EdgeButton--icon.EdgeButton--medium.js-tooltip, li.moments.js-moments-tab, .dashboard.dashboard-right, .self-thread-tweet-cta, 
li[data-name=moments][role=presentation], li.dropdown-divider:nth-child(9), li[role=presentation]:nth-child(10), li[role=presentation]:nth-child(11), li.js-keyboard-shortcut-trigger, li[role=presentation]:nth-child(14), li[role=presentation]:nth-child(17), li[role=presentation]:nth-child(18), .TweetBoxExtras-item:nth-child(2), .promoted-tweet-heading, li.js-stream-item.stream-item.stream-item.separated-module.has-profile-promoted-tweet {
    display: none;
}

.js-tweet-text.tweet-text, .js-global-new-tweet, .message-text {
    font-size: 13px;
}

.ReplyingToContextBelowAuthor {
    padding-top: 1.5px;
    font-size: 12.5px;
}

.TweetTextSize--jumbo.js-tweet-text.tweet-text {
    font-size: 23px;
}

.ProfileHeaderCard-nameLink {
    font-size: 19px;
}

h3.modal-title {
    font-size: 10px;
}

h1.bird-topbar-etched {
    color: #af36ab;
}

.PermalinkOverlay-with-background, .TweetstormDialog.modal-container, .Gallery.with-tweet{
    background: linear-gradient(-45deg, rgba(207, 224, 249, .8), rgba(245, 203, 230, .8));
}

span.ProfileNav-label {
    font-size: 11.5px;
}
